<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div id="container">
    <h1>
        Hello.
    </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Service Rendered</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keyEntry : ${keysData}">
            <td th:text="${keyEntry.id}">Text ...</td>
            <td th:text="${keyEntry.ident}">Text ...</td>
            <td th:text="${keyEntry.keyValue}">Text ...</td>
            <td th:text="${keyEntry.isUsed}">Text...</td>
        </tr>
        </tbody>
    </table>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
<!-- container -->
</body>
</html>
